<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>DBBL-SPS</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
  <nav class="white" role="navigation">
    <div class="nav-wrapper container">
      <img id="logo-container" src="/DBBL-Logo-1.png" class="brand-logo" height="60px" width="100px"/>
      <ul class="right hide-on-med-and-down">
        <li><a href="https://www.dutchbanglabank.com/">Visit Bank</a></li>
      </ul>

      <ul id="nav-mobile" class="sidenav">
        <li><a href="https://www.dutchbanglabank.com/">Visit Bank</a></li>
      </ul>
    </div>
  </nav>

  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h2 class="header center teal-text text-lighten-2">Welcome to</h2>
        <h1 class="header center teal-text text-lighten-2">Dutch-Bangla Bank</h1>
        <h2 class="header center teal-text text-lighten-2">Scholarship Payment System</h2>
        <div class="row center">
          <h5 class="header col s12 light">A modern responsive front-end framework based on Material Design</h5>
        </div>
        <div class="row center">
          <a href="/login" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Get Started</a>
        </div>
        <br><br>

      </div>
    </div>
    <div class="parallax"><img src="/background1.jpg" alt="Unsplashed background img 1"></div>
  </div>


  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">flash_on</i></h2>
            <h5 class="center">Mission</h5>

            <p class="light">Dutch-Bangla Bank engineers enterprise and creativity in business and industry with a commitment to social responsibility. "Profits alone" do not hold a central focus in the Bank's operation; because "man does not live by bread and butter alone".</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">group</i></h2>
            <h5 class="center">Vision</h5>

            <p class="light">Dutch-Bangla Bank dreams of better Bangladesh, where arts and letters, sports and athletics, music and entertainment, science and education, health and hygiene, clean and pollution free environment and above all a society based on morality and ethics make all our lives worth living. Dutch-Bangla Bank 's essence and ethos rest on a cosmos of creativity and the marvel-magic of a charmed life that abounds with spirit of life and adventures that contributes towards human development.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">settings</i></h2>
            <h5 class="center">Core Objectives</h5>

            <p class="light">Dutch-Bangla Bank believes in its uncompromising commitment to fulfill its customer needs and satisfaction and to become their first choice in banking. Taking cue from its pool esteemed clientele, Dutch-Bangla Bank intends to pave the way for a new era in banking that upholds and epitomizes its vaunted marquees "Your Trusted Partner"</p>
          </div>
        </div>
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light">A modern responsive front-end framework based on Material Design</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="/background2.jpg" alt="Unsplashed background img 2"></div>
  </div>

  <div class="container">
    <div class="section">

      <div class="row">
        <div class="col s12 center">
          <h3><i class="mdi-content-send brown-text"></i></h3>
          <h4>Contact Us</h4>
          <p class="left-align light">Sena Kalyan Bhaban, 4th Floor
            195 Motijheel Commercial Area
            Dhaka-1000, Bangladesh
            Tel: (8802) 47110465, 47115155, 47114795
            Ip phone: (880) -9612322100, (880) -9666322100
            Fax: (8802) 9561889
            SWIFT : DBBLBDDH</p>
        </div>
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light">A modern responsive front-end framework based on Material Design</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="/background3.jpg" alt="Unsplashed background img 3"></div>
  </div>

  <footer class="page-footer teal">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Company Bio</h5>
          <p class="grey-text text-lighten-4">We are a team of college students working on this project like it's our full time job. Any amount would help support and continue development on this project and is greatly appreciated.</p>


        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Settings</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Connect</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="brown-text text-lighten-3" href="http://materializecss.com">Materialize</a>
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="js/jquery-3.4.0.min"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>

  </body>
</html>
