<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Student List</title>
    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="css/jquery.dataTables.min.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>

<nav class="white" role="navigation">
    <div class="nav-wrapper container">
        <img id="logo-container" src="/DBBL-Logo-1.png" class="brand-logo" height="60px" width="100px"/>
        <ul class="right hide-on-med-and-down">
            <button class="btn btn-large" onclick="generateClicked()">Generate Selected List</button>
        </ul>
    </div>
</nav>

<div class="table-responsive container center col s12">
    <table class="display table table-bordered table-striped table-responsive" id="mytable">
        <thead>
        <tr>
            <th class="success">Name</th>
            <th class="success">SSC Roll</th>
            <th class="success">SSC GPA</th>
            <th class="success">SSC GPA (With 4th Sub)</th>
            <th class="success">SSC Passing Year</th>
            <th class="success">HSC Roll</th>
            <th class="success">HSC GPA</th>
            <th class="success">HSC GPA (With 4th Sub)</th>
            <th class="success">HSC Passing Year</th>
            <th class="success">District</th>
            <th class="success">ACTION</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="student : ${students}">
            <td><span th:text="${student.firstName +' ' + student.lastName}"> Name </span></td>
            <td><span th:text="${student.sscRoll}"> SSC Roll </span></td>
            <td><span th:text="${student.sscGpaWithoutFourthSubject}"> SSC GPA </span></td>
            <td><span th:text="${student.sscGpaWithFourthSubject}"> SSC GPA (With 4th Sub)</span></td>
            <td><span th:text="${student.sscExamYear}"> SSC Passing Year </span></td>
            <td><span th:text="${student.hscRoll}"> HSC Roll </span></td>
            <td><span th:text="${student.hscGpaWithoutFourthSubject}"> HSC GPA</span></td>
            <td><span th:text="${student.hscGpaWithFourthSubject}"> HSC GPA (With 4th Sub)</span></td>
            <td><span th:text="${student.hscExamYear}"> HSC Passing Year </span></td>
            <td><span th:text="${student.district}"> District </span></td>
            <td>
                <a class="btn btn-danger btn-block"
                   th:href="@{'/register?userId=' + ${student.userId} + '&ust=a'}">View</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<script type="text/javascript" src="js/materialize.min.js"></script>
<script type="text/javascript" src="js/jquery-3.4.0.min.js"></script>
<script type="text/javascript" src="js/jquery.dataTables.min.js"></script>

<script type="text/javascript" charset="utf-8">
    $(document).ready(function () {
        $('#mytable').dataTable({
            // stateSave: true
        });
    });

    function generateClicked() {
        $.ajax({
          url:'/scholarship/generate',
          success: function(){
              alert('Result Generated');
              window.location = '/result?ust=a';
          }
        });
    }

</script>
</body>